@font-face {
    font-family: "Neuropolitical";
    src: url("/fonts/Neuropolitical.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.swiper-pagination-bullet {
    @apply !w-2.5 !h-2.5 !mx-1 !bg-white !opacity-50 !rounded-full;
}

.swiper-pagination-bullet-active {
    @apply !opacity-100 !bg-primary;
}

.fadein-anim {
    @apply opacity-0;
}

::-webkit-scrollbar {
    width: 6px;
    height: 3px;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background: #111111;
}

::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 50px;
}
