---
import BookCallButton from "./BookCallButton.astro"
import MultiSelect from "./MultiSelect.astro"
import RangeSlider from "./RangeSlider.astro"

const servicesOptions = [
    "Full Website (Design + Development)",
    "Website VIP Package (Logo + Design + Development)",
    "App VIP Package  (Logo + Design + Development)",
    "Web Design",
    "Web Development",
    "Logo Design",
    "Branding",
    "App Development",
    "Motion Graphics",
    "Graphic Design",
]
---

<section id="contact" class="mt-10">
    <div
        class="bg-gradient-to-br from-[#BBC6FF1A] to-[#BBC6FF00] from-0% to-100%"
    >
        <div
            class="flex justify-center max-md:flex-col md:gap-x-6 lg:gap-x-14 xl:gap-x-20"
        >
            <div
                class="basis-1/2 bg-[url('/logo-bg.webp')] bg-no-repeat bg-[left_25px_top_55px] md:bg-[right_25px_top_115px] bg-contain md:bg-auto"
            >
                <div
                    class="ml-auto md:max-w-[634px] pl-4 md:pl-7 lg:pl-14 xl:pl-20 py-4 md:py-6 lg:py-12 xl:py-16"
                >
                    <div class="mt-[125px]">
                        <h2
                            class="font-neuropolitcal text-[54px] md:text-[64px] lg:text-[74px] xl:text-[84px] text-white leading-[64px] md:leading-[74px] lg:leading-[84px] xl:leading-[94px]"
                        >
                            Let's Get in Touch
                        </h2>

                        <a
                            class="inline-block group max-w-[340px] w-5/6 md:w-5/6 lg:w-3/4 xl:w-2/3 mt-11 bg-[#000102] hover:bg-white py-8 px-5 md:px-6 lg:px-9 rounded-[30px] transition duration-300"
                            href="https://calendly.com/vedran1-erak1/30min"
                            target="_blank"
                            aria-label="Book a call"
                        >
                            <div>
                                <p
                                    class="text-white group-hover:text-[#000102] text-base mb-[50px]"
                                >
                                    Let's discuss about your project directly on
                                    meeting!
                                </p>
                                <div class="flex">
                                    <BookCallButton
                                        classList="group-hover:text-[#000102] text-white"
                                    />
                                </div>
                            </div>
                        </a>
                        <!-- <span class="text-base text-white mt-4"
                    >We respond to inquiries within 24 hours.</span
                > -->
                    </div>
                </div>
            </div>
            <div class="basis-1/2">
                <div
                    class="md:max-w-[634px] pr-4 max-md:pl-4 md:pr-7 lg:pr-14 xl:pr-20 py-4 md:py-6 lg:py-12 xl:py-16"
                >
                    <form id="contact-form">
                        <div class="">
                            <label
                                for="name"
                                class="block text-sm text-[#747785] mb-2"
                                >Name</label
                            >
                            <input
                                type="text"
                                name="name"
                                required
                                id="name"
                                class="text-white placeholder-[#262831] text-[18px] py-5 px-6 block w-full bg-transparent border border-white border-opacity-10 rounded-2xl focus:border-primary focus:ring-primary focus:ring-2 disabled:opacity-50 disabled:pointer-events-none outline-none leading-7"
                                placeholder="Enter your name"
                            />
                        </div>
                        <div class="mt-[18px]">
                            <label
                                for="email"
                                class="block text-sm text-[#747785] mb-2"
                                >Email</label
                            >
                            <input
                                type="email"
                                name="email"
                                required
                                id="email"
                                class="text-white placeholder-[#262831] text-[18px] py-5 px-6 block w-full bg-transparent border border-white border-opacity-10 rounded-2xl focus:border-primary focus:ring-primary focus:ring-2 disabled:opacity-50 disabled:pointer-events-none outline-none leading-7"
                                placeholder="Enter your e-mail"
                            />
                        </div>
                        <div class="mt-[18px]">
                            <label
                                for="required-service"
                                class="block text-sm text-[#747785] mb-2"
                                >Required Services</label
                            >
                            <!-- <MultiSelect /> -->
                            <MultiSelect
                                options={servicesOptions}
                                name="requiredServices"
                                placeholder="Select required services..."
                            />
                        </div>
                        <div class="mt-[18px]">
                            <label
                                for="message"
                                class="block text-sm text-[#747785] mb-2"
                                >Tell us a little about your project</label
                            >
                            <textarea
                                name="message"
                                required
                                id="message"
                                rows="3"
                                class="text-white placeholder-[#262831] min-h-20 text-[18px] py-5 px-6 block w-full bg-transparent border border-white border-opacity-10 rounded-2xl focus:border-primary focus:ring-primary focus:ring-2 disabled:opacity-50 disabled:pointer-events-none outline-none leading-7"
                                placeholder="Enter your project name and description"
                            ></textarea>
                        </div>
                        <div class="mt-[18px]">
                            <label
                                for="budget"
                                class="block text-sm text-[#747785] mb-4"
                                >Budget Range</label
                            >
                            <RangeSlider name="budget" />
                        </div>
                        <div
                            class="g-recaptcha mt-[18px] mb-12"
                            data-sitekey="6LeLfKsqAAAAAEwHe-Kxs5e3vHnai-PJ_zZDrYwA"
                        >
                        </div>
                        <button
                            id="contact-form-submit-btn"
                            type="submit"
                            class="bg-primary hover:bg-white outline-white w-full rounded-full transition duration-300 font-neuropolitcal text-[20px] py-5 text-white hover:text-primary text-center"
                            aria-label="Submit">Submit</button
                        >
                        <div id="sendingStatus" class="hidden">
                            <div
                                class="relative flex gap-x-3 text-white pt-6 px-4 leading-normal text-dl-green-700 bg-dl-green-100 rounded-lg"
                                role="alert"
                            >
                                <p class="hidden">
                                    Thank you! Your message has been sent
                                    successfully.
                                </p>
                                <p class="hidden">
                                    An error ocurred while submitting a form.
                                    Please try again.
                                </p>
                                <span class="flex items-center mr-4">
                                    <svg
                                        onclick="document.getElementById('sendingStatus').classList.add('hidden')"
                                        class="w-4 h-4 fill-current"
                                        role="button"
                                        viewBox="0 0 20 20"
                                        ><path
                                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                            clip-rule="evenodd"
                                            fill-rule="evenodd"></path></svg
                                    >
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
    async
    defer></script>

<script is:inline>
    const contactForm = document.getElementById("contact-form")
    const contactFormSubmitButton = document.getElementById(
        "contact-form-submit-btn"
    )

    contactForm.addEventListener("submit", async function (event) {
        event.preventDefault()
        contactFormSubmitButton.textContent = "Sending..."
        contactFormSubmitButton.disabled = true

        emailjs.init({
            publicKey: "C6Se-w1o2iBZ6_sbl",
        })

        const status = document.getElementById("sendingStatus")
        const msgs = status.getElementsByTagName("p")

        msgs[0].classList.add("hidden")
        msgs[1].classList.add("hidden")

        emailjs.sendForm("service_ucx97xs", "template_uakjzsw", this).then(
            () => {
                msgs[0].classList.remove("hidden")
                status.classList.remove("hidden")
                this.reset()
                grecaptcha.reset()
                contactFormSubmitButton.disabled = false
                contactFormSubmitButton.textContent = "Submit"
            },
            () => {
                status.classList.remove("hidden")
                msgs[1].classList.remove("hidden")
                grecaptcha.reset()
                contactFormSubmitButton.disabled = false
                contactFormSubmitButton.textContent = "Submit"
            }
        )
    })
</script>
