---
import WebDevIcon from "@components/icons/WebDevIcon.astro"
import WebDesignIcon from "@components/icons/WebDesignIcon.astro"
import ArrowTopRight from "@components/icons/ArrowTopRight.astro"
import BrandingLogoDesignIcon from "@components/icons/BrandingLogoDesignIcon.astro"
import AppDevIcon from "@components/icons/AppDevIcon.astro"
import MotionGraphicsIcon from "@components/icons/MotionGraphicsIcon.astro"
import GraphicDesignIcon from "@components/icons/GraphicDesignIcon.astro"
import SectionHeading from "@components/SectionHeading.astro"

const SERVICES = [
    {
        title: "Web Design",
        points: [
            "Custom Website Design",
            "Responsive Design",
            "UI/UX Wireframing and Prototyping",
            "E-commerce Design",
            "Landing Page Design",
        ],
        Icon: WebDesignIcon,
    },
    {
        title: "Web Development",
        points: [
            "Front-End Development",
            "Back-End Development",
            "E-commerce Development",
            "E-commerce Development",
            "API Development and Integration",
        ],
        Icon: WebDevIcon,
    },
    {
        title: "Branding & Logo Design",
        points: [
            "Brand Identity Creation",
            "Logo Design and Redesign",
            "Typography and Iconography",
            "Brand Guidelines Creation",
            "Stationery Design",
        ],
        Icon: BrandingLogoDesignIcon,
    },
    {
        title: "App Development",
        points: [
            "iOS App Development",
            "Android App Development",
            "Cross-Platform App Development",
            "App UI/UX Design",
            "App Maintenance and Updates",
        ],
        Icon: AppDevIcon,
    },
    {
        title: "Motion Graphics",
        points: [
            "Preloader Animations",
            "Logo Animations",
            "Social Media Animations",
            "2D/3D Animation",
            "Video Editing",
        ],
        Icon: MotionGraphicsIcon,
    },
    {
        title: "Graphic Design",
        points: [
            "Marketing Collateral (Brochures, flyers, posters)",
            "Social Media Graphics",
            "Business Card Design",
            "Infographics",
            "Pitch Decks",
        ],
        Icon: GraphicDesignIcon,
    },
]
---

<section id="services">
    <div>
        <div class="my-[90px] text-center">
            <SectionHeading title="Our Expertise" />
        </div>
        <div class="max-w-[1248px] px-4 mx-auto grid grid-cols-1 md:grid-cols-12 gap-8">
            {
                SERVICES.map((service, index) => (
                    <div
                        class={`${
                            index % 4 === 0 || index % 4 === 3
                                ? "col-span-1 md:col-span-6 lg:col-span-5"
                                : "col-span-1 md:col-span-6 lg:col-span-7"
                        } relative bg-gradient-to-br from-[#BBC6FF1A] to-[#BBC6FF00] from-0% to-100% rounded-[40px] flex flex-col items-start px-5 sm:px-10 pt-5 sm:pt-10 pb-[30px] sm:pb-[60px] group hover:bg-primary transition duration-300`}
                    >
                        <div class="p-5 rounded-2xl bg-primary group-hover:bg-white text-white group-hover:text-primary transition duration-300">
                            {<service.Icon />}
                        </div>
                        <div class="mt-6 mb-4">
                            <h3 class="text-white font-neuropolitcal text-2xl sm:text-3xl md:text-[32px]">
                                {service.title}
                            </h3>
                        </div>
                        <div>
                            <ul class="list-image-[url(/src/assets/logo-icon-blue.svg)] group-hover:list-image-[url(/src/assets/logo-icon-white.svg)] list-inside text-[#747785] group-hover:text-white">
                                {service.points.map((p) => (
                                    <li class=" text-base mb-2.5">{p}</li>
                                ))}
                            </ul>
                        </div>
                        <div class="bg-white hidden group-hover:block text-primary absolute bottom-5 right-5 rounded-full p-5">
                            <ArrowTopRight size="20" />
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>
