---
import SectionHeading from "./SectionHeading.astro"
import { Image } from "astro:assets"
import vedran from "@assets/team/vedran.webp"
import sergej from "@assets/team/sergej.webp"
import luka from "@assets/team/luka.webp"
import teodora from "@assets/team/teodora.webp"
import zorica from "@assets/team/zorica.webp"

const TEAM = [
    {
        name: "Vedran Erak",
        title: "Founder & Fullstack Developer",
        img: vedran,
    },
    {
        name: "Sergej Sovilj",
        title: "Design Team Lead",
        img: sergej,
    },
    {
        name: "Luka Lajić",
        title: "Branding & Motion Designer",
        img: luka,
    },
    {
        name: "Teodora Mutić",
        title: "UX/UI Designer",
        img: teodora,
    },
    {
        name: "Zorica Petreš",
        title: "UX/UI Designer",
        img: zorica,
    },
]
---

<section id="team">
    <div class="text-center my-12 md:my-16 lg:my-20">
        <SectionHeading title="Our Team" />
    </div>

    <div
        class="swiper-container overflow-hidden relative w-full max-w-[1166px] mx-auto"
    >
        <div class="swiper-wrapper bg-background pb-14">
            {
                TEAM.map((t, index) => (
                    <div class="swiper-slide px-4 bg-background">
                        <div
                            class={`h-[620px] md:h-[686px] lg:h-[686px] xl:h-[746px] items-center max-w-[330px] sm:max-w-sm mx-auto flex flex-col bg-gradient-to-b from-[#BBC6FF1A] to-[#BBC6FF00] from-0% to-100% rounded-full relative ${(index + 1) % 2 === 0 ? "lg:mt-[120px]" : ""} overflow-hidden text-center bg-[#E1E1E1]`}
                        >
                            <div class="mt-16 md:mt-20 px-2 absolute left-0 right-0">
                                <h5 class="text-xl md:text-2xl lg:text-[26px] text-[#000102] font-neuropolitcal">
                                    {t.name}
                                </h5>
                                <h6 class="text-base mt-2 text-[#000102]">
                                    {t.title}
                                </h6>
                            </div>
                            <Image
                                src={t.img}
                                alt={"team"}
                                class="mx-auto mt-auto object-cover w-full"
                            />
                        </div>
                    </div>
                ))
            }
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination !bottom-0"></div>
    </div>
</section>

<script>
    import Swiper from "swiper"
    import { Pagination } from "swiper/modules"
    import "swiper/css"
    import "swiper/css/pagination"

    document.addEventListener("DOMContentLoaded", function () {
        const swiper = new Swiper(".swiper-container", {
            slidesPerView: 1,
            spaceBetween: 0,
            direction: "horizontal",
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            modules: [Pagination],
            breakpoints: {
                640: {
                    slidesPerView: 2,
                    spaceBetween: 0,
                },
                1024: {
                    slidesPerView: 3,
                    spaceBetween: 0,
                },
            },
        })
    })
</script>
