---
import Header from "@components/Header.astro"
import "@fontsource/poppins"
import "@styles/global.css"
import AboutUs from "@components/AboutUs.astro"
---

<html lang="en" class="bg-background">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>ErakCode</title>
    </head>
    <body>
        <Header />
        <AboutUs />
        <!-- <Footer /> -->
        <!-- <script>
import "../scripts/menu.js";
</script> -->
    </body>
</html>
