---
import "@fontsource/poppins"
import "@styles/global.css"
import Header from "@components/Header.astro"
import AboutUs from "@components/AboutUs.astro"
import Services from "@components/Services.astro"
import Portfolio from "@components/Portfolio.astro"
import Team from "@components/Team.astro"
import Footer from "@components/Footer.astro"
import ContactForm from "@components/ContactForm.astro"

const navLinks = [
    {
        name: "About Us",
        path: "#about-us",
        alt: "Learn more about us",
    },
    {
        name: "Services",
        path: "#services",
        alt: "Explore our services",
    },
    {
        name: "Portfolio",
        path: "#portfolio",
        alt: "View our portfolio",
    },
    {
        name: "Team",
        path: "#team",
        alt: "Meet our team",
    },
]
---

<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="shortcut icon" type="image/png" href="/favicon-32x32.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content="Crafting impactful software solutions and designs that bring visions to life. Specializing in software development, web design, logo creation, and brand identity for businesses aiming to stand out."
        />
        <meta
            name="keywords"
            content="software development, web design, logo design, brand identity, software solutions, expert developers, innovative designs, creative branding, software engineering, UI/UX design, custom software, mobile app development"
        />
        <meta name="author" content="ErakCode" />
        <link rel="canonical" href="https://erakcode.com" />
        <meta name="robots" content="index, follow" />
        <meta property="og:title" content={"ErakCode"} />
        <meta
            property="og:description"
            content={"Crafting impactful software solutions and designs that bring visions to life. Specializing in software development, web design, logo creation, and brand identity for businesses aiming to stand out."}
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://erakcode.com" />
        <meta property="og:site_name" content="ErakCode" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:author" content="ErakCode" />
        <meta
            property="og:image"
            content="https://erakcode.com/media-logo-1200x630.png"
        />
        <meta
            property="og:image:secure_url"
            content="https://erakcode.com/media-logo-1200x630.png"
        />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta property="og:image:alt" content="ErakCode" />
        <meta name="theme-color" content="#000102" />
        <meta name="msapplication-TileColor" content="#0000EC" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <title>ErakCode</title>
    </head>
    <body class="bg-background">
        <Header navLinks={navLinks} />
        <AboutUs />
        <Services />
        <Portfolio />
        <Team />
        <ContactForm />
        <Footer navLinks={navLinks} />
        <!-- <script>
import "../scripts/menu.js";
</script> -->
    </body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const sections = document.querySelectorAll("section")
        const navLinks = document.querySelectorAll(".nav-link")

        const observerOptions = {
            root: null,
            threshold: 0.6,
        }

        const observer = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    navLinks.forEach((link) =>
                        link.classList.remove("text-white", "font-semibold")
                    )

                    const activeLink = document.querySelector(
                        `.nav-link[href="#${entry.target.id}"]`
                    )
                    if (activeLink)
                        activeLink.classList.add("text-white", "font-semibold")
                }
            })
        }, observerOptions)

        sections.forEach((section) => observer.observe(section))
    })
</script>
